.navbar {
    background: #383838;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 100;
    padding-top: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .4666666666666667)
}

.navbar .container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between
}

.navbar .header-nav {
    height: 100%
}

.navbar .header-nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    height: 100%
}

.nav-logo {
    width: -webkit-max-content;
    width: max-content;
    height: 40px;
    color: #fff;
    text-decoration: none;
    font-family: "Roblox", sans-serif;
    display: flex;
    flex-direction: row;
    text-align: left;
    text-anchor: start;
    place-content: center;
    font-size: 1.1rem;
    place-items: center;
    font-weight: 100;
    font-style: normal
}

.nav-logo img {
    width: 40px;
    height: 40px;
    background-color: #8d8d8d;
    margin-right: 10px;
    border-radius: 100px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 2px 2px rgb(0, 0, 0);
}

.nav-logo:hover {
    color: #bebebe
}

.nav-logo:focus-visible {
    outline: none;
    text-decoration: underline
}

.navbar-link {
    height: 100%;
    display: flex;
    place-items: center
}

.navbar-link img,
.navbar-link svg {
    width: 32px;
    height: 32px
}

.navbar-link img {
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated
}

@keyframes aaab {
    0% {
        transform: translate(100%)
    }
    10% {
        transform: translate(100%)
    }
    to {
        transform: translate(0)
    }
}

@keyframes aabb {
    0% {
        transform: translate(0)
    }
    10% {
        transform: translate(0)
    }
    to {
        transform: translate(100%)
    }
}

.navbar-link-cont {
    display: block;
    color: #fff;
    padding: .2rem .6rem;
    height: 100%;
    text-decoration: none;
    font-family: "Minecraft";
    display: flex;
    place-items: center;
    border: 1px solid transparent;
    border-radius: 0
}

.navbar-link-cont:hover {
    background: hsla(0, 0%, 100%, .2)
}

.navbar-link-cont:hover span {
    font-size: 1rem;
    margin-left: .3rem
}

.navbar-link-cont span {
    transition: font .3s, margin .3s;
    font-size: 0;
    margin-left: 0
}

.navbar-link-cont:focus-visible {
    outline: none;
    border: 1px solid #fff
}

.navbar-link-cont:focus-visible span {
    font-size: 1rem;
    margin-left: .3rem
}

.hamburger-btn,
.search-btn {
    display: flex;
    place-items: center;
    place-content: center;
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
    padding: .2rem .6rem
}

.hamburger-btn:focus,
.search-btn:focus {
    outline: none
}

.hamburger-btn:focus-visible,
.search-btn:focus-visible {
    border-color: #fff
}

.hamburger-btn svg,
.search-btn svg {
    width: 32px;
    height: 32px
}

.hamburger-btn:hover,
.search-btn:hover {
    background: hsla(0, 0%, 100%, .2)
}

.hamburger-btn:disabled,
.search-btn:disabled {
    filter: brightness(60%)
}

.hamburger-btn {
    display: none
}

@media screen and (max-width:450px) {
    .nav-logo {
        font-size: 0
    }
}

.hamburger-btn {
    display: flex
}

.sidebar {
    position: absolute;
    background: #262626;
    right: -100%;
    top: 50px;
    width: 300px;
    height: calc(100vh - 50px);
    transition: transform .2s ease;
    z-index: -1;
    overflow-y: auto;
    box-shadow: -2px 0 2px 0 rgba(0, 0, 0, .4666666666666667);
    font-family: "Noto Sans"
}

.sidebar::-webkit-scrollbar {
    width: 10px
}

.sidebar .container {
    display: flex;
    width: 100%;
    height: -webkit-max-content;
    height: max-content;
    padding: 1rem 0;
    overflow-x: hidden
}

.sidebar.open {
    display: none;
    right: 0
}

.sidebar nav {
    overflow-y: auto;
    width: 100%;
    overflow-x: hidden
}

.sidebar nav h3 {
    font-family: "MinecraftTen";
    color: #fff;
    font-weight: 100;
    font-size: 1.8rem;
    margin-left: 1.2rem;
    padding: 1.2rem 0 0
}

.sidebar nav h3:first-of-type {
    padding-top: 0
}

.sidebar nav h4 {
    font-family: "MinecraftTen";
    color: #ccc;
    font-weight: 100;
    font-size: 1.5rem;
    margin-left: 1.2rem;
    padding: 1.2rem 0 .7rem
}

.sidebar nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
}

.sidebar nav li {
    width: 100%;
    color: #fff
}

.sidebar nav a {
    display: block;
    width: 100%;
    padding: .5rem 2rem;
    color: #2bbd28;
    font-size: .95rem;
    text-decoration: none;
    border: 1px solid transparent
}

.sidebar nav a:focus {
    outline: none
}

.sidebar nav a:focus-visible {
    border-color: #fff
}

.sidebar nav a:hover {
    background: hsla(0, 0%, 100%, .2);
    color: #fff
}

.sidebar {
    display: none
}

.sidebar.open {
    display: block
}

.searchsidebar {
    position: absolute;
    background: #262626;
    top: 50px;
    right: 100%;
    display: none;
    width: 400px;
    height: calc(100vh - 50px);
    z-index: -1
}

.searchsidebar .container {
    display: flex;
    height: -webkit-max-content;
    height: max-content;
    padding: 1rem 0
}

.searchsidebar.open {
    display: block;
    right: 0
}

.searchsidebar input {
    width: 100%;
    height: 40px;
    background: #161616;
    border: 1px solid #161616;
    padding: 0 1rem
}

.main-section {
    position: relative;
    background-color: rgb(104, 104, 104);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 140vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    text-align: center
}

.main-section .arrow-down {
    width: 30px;
    height: 30px
}

.main-section h3 {
    padding: 1rem 0;
    font-family: "Minecraft";
    text-shadow: 0 2.5px 0 #000;
    color: #fff;
    word-spacing: 5px;
    font-size: 1.1rem;
    line-height: 1.5rem;
    width: 85%;
    font-weight: 100;
    font-style: normal
}

.main-section .logo {
    width: 100%;
    margin-top: -681px;
    box-shadow: 0 5px 10px rgb(0, 0, 0)
}

.main-section .buttons-group0,
.buttons-group1 {
    display: flex;
    flex-direction: row;
    grid-column-gap: 1rem;
    column-gap: 1rem;
    grid-row-gap: 1rem;
    row-gap: 1rem;
    place-content: center;
    flex-wrap: wrap;
}

.main-section .buttons-group1 {
    grid-column-gap: 1rem;
    column-gap: 1rem;
    padding: 1.2rem 0 0
}

.arrow-scroll {
    position: absolute;
    bottom: 3rem
}

.arrow-scroll svg {
    width: 40px;
    height: 40px;
    animation: scrollArrowAnim 1s ease infinite
}

@media screen and (max-height:700px)and (max-width:400px) {
    .arrow-scroll {
        display: none
    }
}

@keyframes scrollArrowAnim {
    0% {
        transform: translateY(-15px)
    }
    50% {
        transform: translateY(15px)
    }
    to {
        transform: translateY(-15px)
    }
}

@media screen and (max-width:800px) {
    .main-section .logo {
        width: 100%;
        margin-top: -620px;
        box-shadow: 0 5px 10px rgb(0, 0, 0)
    }
    .main-section .buttons-group0,
    .main-section .buttons-group1 {
        width: 85%
    }
}

.home-show-sections {
    background: #323232
}

.home-show-sections .container {
    display: flex;
    flex-direction: column;
    grid-row-gap: 2rem;
    row-gap: 2rem;
    padding: 3rem 0 4rem;
    place-items: center
}

.home-show-sections .being-built {
    margin: 2rem 0 0
}

@media screen and (max-height:600px) {
    .main-section .logo {
        max-width: 70%;
        margin-bottom: 1.8rem
    }
    .main-section h3 {
        padding: 0
    }
}

@media screen and (max-height:520px) {
    .main-section .logo {
        display: none
    }
}

.releases {
    background: #323232;
    height: 100%
}

.releases .releases-section {
    background: #363636 url(/static/media/1.11_exploration_update_java.4ad94e47.jpg);
    background-color: rgba(0, 0, 0, .4117647058823529);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    height: calc(31vh - 60px);
    display: flex;
    place-content: center;
    place-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px
}

.releases .releases-section h2 {
    font-size: 1.9rem;
    text-shadow: 0 4px 0 #303030
}

.releases .releases-section h2,
.releases .releases-section p {
    font-family: "MinecraftFiveBold";
    color: #fff;
    font-weight: 100;
    font-style: normal
}

.releases .releases-section p {
    text-shadow: 0 3px 0 #303030;
    font-size: 1.2rem
}

.releases main {
    padding: 3rem 0;
    height: -webkit-max-content;
    height: max-content;
    overflow: hidden
}

.releases main .container {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    gap: 1rem
}

.releases hr {
    border-color: #929292;
    margin: .4rem 0
}

.releases h3 {
    color: #fff;
    font-family: "Noto Sans Bold";
    font-size: 1rem;
    padding: 0 0 .1rem
}

.details-body br:last-child {
    display: block;
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0
}

.faqdetails {
    border: 1px solid #5e5e5e;
    font-family: "Noto Sans";
    font-weight: 100
}

.faqdetails .faqdetails-content {
    display: none;
    padding: 1rem;
    color: #fff;
    animation: sweep .2s ease;
    transition: max-height .1s ease;
    overflow: hidden;
    max-height: 0
}

.faqdetails .faqdetails-content img {
    max-width: 100%
}

.faqdetails .faqdetails-content code {
    background: rgba(0, 0, 0, .4117647058823529);
    padding: 3px 6px;
    border-radius: 4px
}

.faqdetails .faqdetails-content p {
    padding: .4rem 0;
    font-size: .9rem
}

.faqdetails .faqdetails-content h5 {
    font-size: .8rem
}

.faqdetails .faqdetails-content a {
    color: #26a824;
    font-size: .9rem
}

.faqdetails .faqdetails-content a:hover {
    color: #1c7e1b
}

.faqdetails .faqdetails-content a:focus-visible {
    outline: 1px solid #fff
}

.faqdetails .faqdetails-content img {
    padding: .4rem 0
}

.faqdetails .faqdetails-content img:last-child {
    padding: .4rem 0 0
}

.faqdetails .faqdetails-content p:first-child {
    padding: 0
}

.faqdetails.open-semi {
    height: auto
}

.faqdetails.open-semi .faqdetails-content {
    display: block
}

.faqdetails.open .faqdetails-content {
    max-height: -webkit-max-content;
    max-height: max-content;
    transition: max-height 1s ease-in
}

@keyframes sweep {
    0% {
        opacity: 0;
        transform: translateY(-10px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.faqdetails.open .faqdetails-header span {
    transform: rotate(0)
}

.faqdetails-header {
    display: flex;
    cursor: pointer;
    place-items: center;
    color: #fff;
    height: -webkit-max-content;
    height: max-content;
    font-weight: 100;
    font-size: 1rem;
    font-family: "Noto Sans Bold";
    padding: .5rem .6rem;
    border: 1px solid transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.faqdetails-header svg {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges
}

.faqdetails-header span {
    width: 14px;
    margin: 0 .4rem 0 0;
    transform: rotate(-90deg);
    filter: invert(100%);
    transition: transform .2s
}

.faqdetails-header:hover {
    background: hsla(0, 0%, 100%, .13333333333333333)
}

.faqdetails-header:focus {
    outline: none
}

.faqdetails-header:focus-visible {
    border: 1px solid #fff
}

.faqdetails a {
    color: #2bbd28;
    text-decoration: none
}

.faqdetails a:hover {
    color: #21931f
}

.faqdetails .github-link {
    display: block;
    width: -webkit-max-content;
    width: max-content;
    margin: 1rem 0 0;
    text-decoration: none
}

.faqdetails .faqdetails-content.md ul {
    margin-left: 1.2rem
}

.cat-selection {
    display: grid;
    flex-direction: row;
    width: 100%;
    grid-gap: 1rem 1rem;
    gap: 1rem 1rem;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(49%, 1fr))
}

.cat-selection .cat-link {
    box-sizing: content-box;
    box-shadow: 0 3px 0 rgba(0, 0, 0, .27058823529411763);
    padding: 1rem;
    display: flex;
    place-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 1px solid transparent;
    border-bottom-color: rgba(0, 0, 0, .27058823529411763);
    text-decoration: none
}

.cat-selection .cat-link:hover img {
    filter: brightness(40%)
}

.cat-selection .cat-link:focus {
    outline: none
}

.cat-selection .cat-link:focus-visible {
    border: 1px solid #fff
}

.cat-selection .cat-link h4 {
    font-family: "MinecraftFive";
    color: #fff;
    font-size: 1.1rem;
    font-weight: 400;
    text-shadow: 0 4px 0 rgba(0, 0, 0, .4117647058823529)
}

.cat-selection .cat-link p {
    color: #fff;
    font-family: "Noto Sans";
    font-size: .9rem;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .4117647058823529)
}

.cat-selection .cat-link img {
    top: 0;
    position: absolute;
    left: 0;
    z-index: -1;
    transform: translateY(-40%);
    transition: filter .15s ease;
    filter: brightness(50%);
    width: 100%
}

.searchbox {
    display: flex;
    height: 38px;
    min-height: 38px;
    background: #121212;
    border-radius: 4px;
    place-items: center;
    border: 1px solid #121212
}

.searchbox:hover {
    background: #0d0d0d
}

.searchbox:focus-within {
    border: 1px solid #fff
}

.searchbox .reset-btn {
    cursor: pointer;
    color: #fff;
    background: none;
    border: none;
    margin: 4px;
    width: 24px;
    height: 24px;
    display: flex;
    padding: 0 2px;
    place-content: center;
    place-items: center
}

.searchbox .reset-btn:hover {
    background: #2b2b2b
}

.searchbox .reset-btn svg {
    width: 11px;
    height: 11px
}

.searchbox .reset-btn svg path {
    fill: #ccc
}

.searchbox .search-icon {
    width: 16px;
    height: 16px;
    max-width: 16px;
    max-height: 16px;
    min-width: 16px;
    min-height: 16px;
    margin-left: 10px
}

.searchbox .search-icon path {
    fill: #eee
}

.searchbox input[type=text] {
    background: none;
    border: none;
    font-family: "Noto Sans";
    height: 100%;
    color: #fff;
    width: 100%;
    caret-color: #fff;
    padding: 0 .4rem
}

.searchbox [type=text]:focus {
    outline: none
}

.searchbox .results {
    padding: 0 5px;
    color: #fff;
    margin: 4px 7px 4px 10px;
    display: flex;
    flex-direction: row;
    width: -webkit-max-content;
    width: max-content;
    min-width: -webkit-max-content;
    min-width: max-content;
    background: #2b2b2b;
    height: 22px;
    position: relative;
    font-size: .9rem
}

.searchbox .results:before {
    position: relative;
    content: "";
    display: block;
    width: 1px;
    height: 20px;
    top: 1px;
    left: -12px;
    background: #777
}

.faq {
    background: #323232;
    height: 100%
}

.faq .faq-section {
    background: #363636 url(/static/media/1.0_pocket_edition.badf78f0.jpg);
    background-color: rgba(0, 0, 0, .4117647058823529);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    height: calc(31vh - 60px);
    display: flex;
    place-content: center;
    place-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 50px
}

.faq .faq-section h2 {
    font-size: 1.9rem;
    text-shadow: 0 4px 0 #303030
}

.faq .faq-section h2,
.faq .faq-section p {
    font-family: "MinecraftFiveBold";
    color: #fff;
    font-weight: 100;
    font-style: normal
}

.faq .faq-section p {
    text-shadow: 0 3px 0 #303030;
    font-size: 1.2rem
}

.faq main {
    padding: 3rem 0;
    height: -webkit-max-content;
    height: max-content;
    overflow: hidden
}

.faq main .container {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    gap: 1rem
}

.faq main h3 {
    color: #fff;
    font-family: "Noto Sans Bold";
    font-size: 1rem;
    padding: 0 0 .1rem
}

.faq hr {
    border-color: #929292;
    margin: .4rem 0
}

@font-face {
    font-family: "Roblox";
    src: url(MinecraftTen-VGORe.ttf);
    font-weight: 100;
}

@font-face {
    font-family: "Minecraft";
    src: url(MinecraftRegular-Bmg3.ttf);
    font-weight: 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility
}

html {
    scroll-behavior: smooth
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto
}

body {
    height: 100vh;
    min-height: 100vh;
    background-color: #ffffff
}

.button-text1 {
    text-decoration: none;
    display: block;
    cursor: pointer;
    background: linear-gradient(#000000, #000000);
    border: 0;
    font-family: "Roblox", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    margin: 1px;
    margin-right: 2px;
    display: flex;
    place-content: center;
    place-items: center;
    font-weight: 100;
    font-style: normal;
    text-shadow: 0 3px 0 rgb(0 0 0 / 26%);
    --border: #000;
    --top-border: #000000;
    --bottom-border: #000000;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 0 -3px 0 0 var(--top-border), 0 3px 0 0 var(--bottom-border), -3px 0 0 0 #000000, 3px 0 0 0 #000000, -2px -5px 0 0 var(--border), 2px -5px 0 0 var(--border), -5px -2px 0 0 var(--border), 5px -2px 0 0 var(--border), -2px 5px 0 0 var(--border), 2px 5px 0 0 var(--border), -5px 2px 0 0 var(--border), 5px 2px 0 0 var(--border);
}

.cantero .imgo {
    width: 100%;
    margin-top: -8990px;
    box-shadow: 0 5px 10px rgb(0, 0, 0)
}


/*# sourceMappingURL=main.e050c624.chunk.css.map */